*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body {
  margin-left: .5in;
  margin-right: .5in;
  background-color: #374540;
  z-index: 0;
}

button {
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12pt;
}

#header {
  background-color: #7D988D;
  z-index: 1;
}

h1 {
  float: left;
  font-size: 50pt;
  font-family: fantasy;
  position: relative;
  text-shadow: -1px -1px 10px white;
}

#add {
  background-color: darkgreen;
  width: 120px;
  height: 30px;
  border: 3px solid black;
}

#add:hover {
  background-color: green;
}

#favorite {
  background-color: goldenrod;
  width: 100px;
  height: 30px;
  border: 3px solid black;
}

#favorite:hover {
  background-color: gold;
}

#favorite:hover i {
  color: yellow;
}

#custom {
  background-color: skyblue;
  height: 30px;
  border: 3px solid black;
}

#custom:hover {
  background-color: lightblue;
}

#nav {
  position: absolute;
  top: 150px;
}

#nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 7px;
  background-color: #7D988D;
  padding: 7px;
  border-radius: 5px;
  border: 3px solid black;
}

#nav li a {
  color: white;
  font-size: 14pt;
  text-decoration: none;
}

#nav li:hover {
  background-color: lightgreen;
  color: black;
  padding: 7px;
  border-radius: 5px;
  text-decoration: underline;
}

#nav li a:hover {
  color: black;
}

#main {
  position: relative;
  float: left;
  top: 20px;
}

#main img {
  width: 400px;
  height: 500px;
  border: 5px solid black;
  background-color: #7D988D;
}

#main #sizeAndInfo {
  border: 3px solid black;
  float: right;
  padding: 10px;
  margin-left: 20px;
  width: 500px;
  border: 5px solid black;
}

#sizeAndInfo {
  background-color: #7D988D;
}

select {
  height: 30px;
}

img.suggestion {
  border: 5px solid black;
  float: left;
  position: relative;
  margin: 0 0 10px 10px;
}

#suggestions {
  position: relative;
  top: 20px;
  float: left;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  width: 1200px;
  font-family: sans-serif;
  text-shadow: -1px -1px 10px white;
}
