*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body {
  margin-top: .5in;
  margin-left: .5in;
  margin-right: .5in;
}

header {
  float: left;
  font-size: 50pt;
  font-family: fantasy;
  position: absolute;
  top: 50px;
}

button {
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12pt;
}

#add {
  background-color: darkgreen;
  width: 120px;
  height: 30px;
}

#add:hover {
  background-color: green;
}

#favorite {
  background-color: goldenrod;
  width: 100px;
  height: 30px;
}

#favorite:hover {
  background-color: gold;
}

#favorite:hover i {
  color: yellow;
}

#custom {
  background-color: skyblue;
  height: 30px;
}

#custom:hover {
  background-color: lightblue;
}

#nav {
  float: right;
  position: relative;
}

#nav li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin-right: 7px;
  top: 30px;
}

#main {
  position: relative;
  float: left;
  top: 150px;
}

#main img {
  width: 400px;
  height: 500px;
  border: 3px solid black;
}

#main #sizeAndInfo {
  border: 3px solid black;
  float: right;
  padding: 10px;
  margin-left: 20px;
  width: 500px;
}
